@import './config.scss';

.hamburger-react {
	z-index: 100;
}

@keyframes showMobile {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: $space-small;
	&__nav {
		font-family: $font-primary;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		max-width: $max-width;
		height: 80px;
		padding: $space-medium;
		background-color: $background-shadow;
		border-radius: $border-radius;
	}

	&__logo {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		color: $pure-white;
		&-title {
			font-size: $font-large;
			&--year {
				font-size: $font-medium;
			}
		}
	}

	&__links {
		display: none;
		justify-content: flex-end;
		align-items: center;
		gap: $space-medium;
		font-size: $space-medium;

		&--mobile {
			position: absolute;
			top: 0;
			right: 0;
			width: 100vw;
			min-width: 150px;
			display: flex;
			justify-content: flex-start;
			flex-direction: column;
			background: $gradient;
			height: 100vh;
			padding: $space-medium;
			padding-top: 100px;
			z-index: 99;
			animation: showMobile 0.2s;
		}

		a {
			text-decoration: none;
			color: $pure-white;
		}
	}
}

@media (min-width: $tablet) {
	.hamburger-react {
		display: none;
	}
	.navbar {
		&__links {
			&--desktop {
				display: flex;
			}

			&--mobile {
				display: none;
			}
		}
	}
}
