@import '../../styles/config.scss';

@keyframes showControls {
	from {
		opacity: 0;
		transform: translateY(-1em);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.decision-box {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: $background-shadow;
	padding: $space-xlarge;

	img {
		object-fit: contain;
		text-align: center;
		width: 100%;
	}

	p {
		z-index: 1;
		font-size: $font-smallest;
		color: $pure-white;
		background-color: $background-shadow;
		padding: $space-small;
		font-family: $font-secondary;
	}

	@media (min-width: $video-controls) {
		p {
			font-size: $font-small;
		}
	}

	@media (min-width: $tablet) {
		p {
			font-size: $font-large;
		}
	}
}

.middle {
	display: none;

	@media (min-width: $video-controls) {
		display: flex;
	}
}

.controls {
	&__div {
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		width: 100%;
		padding: 0 $space-standard;
		background: $video-gradient;
		font-size: $font-smallest;
		opacity: 1;
		transition: opacity 0.1s, transform 0.1s;

		@media (min-width: $video-controls) {
			position: absolute;
		}
	}

	&__time {
		display: inline-block;
		padding-bottom: 0;
		font-family: $font-secondary;
		font-size: $font-small;
	}

	&__slider span {
		padding: $space-small;
	}

	&__icons {
		color: $pure-white;
		transform: scale(0.9);

		&:hover,
		&:focus {
			color: $pure-white;
			transform: scale(0.95);
			transition: transform 0.3s;
		}

		&:focus {
			outline: 1px solid transparent;
		}
	}

	&__ios-decision {
		width: 100%;
		img {
			width: 100%;
			height: 100%;
		}

		p {
			font-family: $font-secondary;
		}
	}

	&__buttons-container {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
	}
}

.MuiSlider-track {
	margin: 0;
}

.hidden {
	visibility: hidden;
	opacity: 0;
	transform: translateY(1em);
	transition: opacity 0.1s;
}

.left {
	display: flex;
	justify-content: space-between;
}

.right {
	display: flex;
	justify-content: space-between;
}

.loading {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
}

.duration {
	font-size: $font-small;
}

.middle {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	margin: 0 auto;
}

.middle-wrap {
	display: flex;
	justify-content: center;
	align-items: center;

	p {
		pointer-events: none;
	}
}
