
@keyframes showControls {
	from {
		opacity: 0;
		transform: translateY(-1em);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}


.decision-box {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	padding: 2em;

	img {
		object-fit: contain;
		text-align: center;
		width: 100%;
	}

	p {
		z-index: 1;
		font-size: 0.6rem;
		color: #fff;
		background-color: rgba(0, 0, 0, 0.5);
		padding: 0.5em;
		font-family: 'Roboto', sans-serif;
	}

	@media (min-width: 500px) {
		&__p {
			font-size: 0.8rem;
		}
	}

	@media (min-width: 768px) {
		&__p {
			font-size: 1rem;
		}
	}
}


.middle {
	display: none;

	@media (min-width: 500px) {
		display: flex;
	}
}

.controls {
	&__div {
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		width: 100%;
		padding: 0 10px;
		background: rgb(0, 0, 0);
		background: linear-gradient(rgba(255, 255, 255, 0), rgba(1, 2, 48, 0.808));
		font-size: 0.6rem;
		opacity: 1;
		transition: opacity 0.1s, transform 0.1s;

		@media (min-width: 500px) {
			position: absolute;
		}
	}

	&__time {
		display: inline-block;
		padding-bottom: 0;
		font-family: 'Roboto', sans-serif;
		font-size: 1rem;
	}

	&__slider span {
		font-size: 0.3rem;
		padding: 0.5em;
	}

	&__icons {
		color: white;
		font-size: 50;
		transform: scale(0.9);

		&:hover,
		&:focus {
			color: #fff;
			transform: scale(0.95);
			transition: transform 0.3s;
		}

		&:focus {
			outline: 1px solid transparent;
		}
	}

	&__buttons-container {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
	}
}

.MuiSlider-track {
	margin: 0;
	padding: 0.3em;
}

.hidden {
	visibility: hidden;
	opacity: 0;
	transform: translateY(1em);
	transition: opacity 0.1s;
}

.left {
	display: flex;
	justify-content: space-between;
}

.right {
	display: flex;
	justify-content: space-between;
}

.loading {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
}

.duration {
	font-size: 0.8rem;
}

.middle {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	margin: 0 auto;
}

.middle-wrap {
	display: flex;
	justify-content: center;
	align-items: center;

	p {
		pointer-events: none;
	}
}

.Button {
	background-color: rgb(206, 34, 34);
	border: 1px solid white;
}
