@import '../../styles/config.scss';

.player {
	position: relative;
	font-size: 0;
	overflow: hidden;
	background-color: $player-background;
	border-radius: $border-radius;

	&__loading {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
